body{
    background-color: #1b262c;
}

#loading{
    color: white;
    text-align: center;
    margin-top: 29%;
}

.welcome{
    margin-top: 1%;
    margin-left:45%;
    height: 120px;
    width: 120px;
    background-color: white;
}

.admin-card{
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.pointer{
    cursor: pointer;
}

#delete{
    color: #f05454
}

#edit{
    color: #0278ae
}